<h2>会員一覧</h2>

<table>
 
 <thead>
  <th>会員ID</th>
  <th>氏名</th>
  <th>メールアドレス</th>
  <th>ステータス</th>
 </thead>
 
 <tbody>
  <% @customers.each do |customer| %>
     <tr>
      <th><%= customer.id %></th>
      <th><%= link_to customer.family_name, admin_customer_path(customer.id) %></th><th><%= link_to customer.first_name, admin_customer_path(customer.id) %></th>
      <th><%= customer.email %></th>
      <th><%= customer.is_deleted %></th>
     </tr>
    <% end %>
 </tbody>
 
</table>
