<h2>商品一覧</h2>

<%= link_to new_admin_product_path do %>
 <button type="button" class="btn btn-success btn-success btn-circle btn-lg">＋</button>
<% end %>

<tr>
  <th>商品ID</th>
  <th>商品名</th>
  <th>税抜価格</th>
  <th>ジャンル</th>
  <th>ステータス</th>
</tr>

  <% @products. each do |product| %>
<tbody>
<tr>
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><%= product.genre.name %></td> 
  <td><%= product.is_active %></td>
  <% end %>
</tr>

</tbody>
