<h2>商品詳細</h2>

<% attachment_image_tag @product, image, size:"300×300", fallback: "no_image.jpg" %>

<h3>商品名<%= @product.name %></h3>

<h3>商品説明<%= @product.description %></h3>

<h3>ジャンル<%= @product.genre_name %></h3>

<h3>税抜価格<%= @product.price %></h3>

<h3>販売ステータス
  <% if @product.is_active == false %>
   販売中
  <% else %>
   販売停止中
  <% end %>
</h3>

<%= button_to '編集する',edit_admin_product_path(@product.id), method: :get ,class: "btn btn-primary " %>



