<!--<div class="container">-->
<h3>商品詳細</h3>
<!--<div class="row">-->
    <div class="col-3">
    <%= attachment_image_tag(@product, :image, :fill, 400, 300) %>
    </div>

   <!--<div class="col-9">-->
      <table class="table table-borderless">
        <tr class="d-flex">
           <th class="col-3">商品名</th>
           <td class="col-3"><%= @product.name %></td>
        </tr>
        <tr class="d-flex">
           <th class="col-3">商品説明</th>
           <td class="col-3"><%= @product.description %></td>
        </tr>
        <tr class="d-flex">
           <th class="col-3">ジャンル</th>
           <td class="col-3"><%= @product.genre.name %></td>
        </tr>
        <tr class="d-flex">
           <th class="col-3">税抜価格</th>
           <td class="col-3"><%= @product.price.to_s(:delimited) %></td>
        </tr>
        <tr class="d-flex">
           <th class="col-3">販売ステータス</th>
           <th class="col-3">
              <% if @product.is_active == "販売中" %>
                <p>販売中</p>
              <% else %>
                <p>販売停止中</p>
              <% end %>
           </td>
         </tr>
      </table>
    <div class="mx-auto" style="width: 200px;">
     <%= button_to '編集する',edit_admin_product_path(@product.id), method: :get ,class: "btn btn-primary " %>
    </div>



