<% @orders.each do |order| %>
    <h4>注文日</h4>
    <%= order.created_at.strftime('%Y/%m/%d')%>
    <h4>配送先</h4>
    <%= order.address%><!--テーブル名.カラム名-->
    <h4>注文商品</h4>
    <% order.ordering_products.each do |ordering| %>
        <%= ordering.product.name %><!--アソシエーションしているので注文商品テーブルを経由して商品テーブルの商品名を取ってくる。「左から順にER図をたどっていくイメージ」-->
    <% end %>
    <h4>支払金額</h4>
    <%= order.total_payment.to_s(:delimited) %>
    <h4>ステータス</h4>
    <%= order.status%>
    <h4>注文詳細</h4>
    <%#= link_to "表示する", %>

<% end %>