<b><h1>注文履歴一覧</h1></b>
<table class="table table-bordered">
  <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払金額</th>
      <th>ステータス</th>
      <th>注文詳細</th>
  </tr>
  <% @orders.each do |order| %>
  
    <tr>
      <td><%= order.created_at.strftime('%Y/%m/%d')%></td>
      <td><h5><%= order.address%></h5></td>
      <td>
          <div style="word-break : break-all;">
              <% order.ordering_products.each do |ordering| %>
                <h5><%= ordering.product.name %></h5></br>
              <% end %>
          </div>
      </td>
      <td><%= order.total_payment.to_s(:delimited) %></td>
      <td><%= order.status%></td>
      <td><%= link_to "表示する", public_order_path(order),class:"btn btn-primary" %></td>
    </tr>
  
<% end %>
</table>