<div class="container-fluid">  
        
<h1>ログイン</h1>
  <div class="row">
<h4>会員の方はこちらからログイン</h4>
  </div>
  <div class="row">
    <table>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <tr>
        <div class="field">
         <th><h5>メールアドレス</h5></th>
         <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th><h5>パスワード</h5></th>
          <th><%= f.password_field :password, autocomplete: "current-password" %></th>
        </div>
      </tr>
      <tr>
        <div class="actions">
        <th><%= f.submit "ログイン", class:"btn btn-primary" %></th>
        </div>
      </tr>
      <% end %>
    </table>
  </div>

<h5>会員登録がお済みでない方<br>
<%= link_to "こちら ", new_registration_path(resource_name) %>から新規登録を行ってください。
</h5>

</div>  
</div>  